.cp_hmenuac05 {
	position: absolute;
	padding: 1.5em;
	width: 40px;
	cursor: pointer;
}
.cp_hmenuac05 .cp_bar,
.cp_hmenuac05 .cp_bar:before,
.cp_hmenuac05 .cp_bar:after {
	display: block;
	width: 40px;
	height: 5px;
	content: '';
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	border-radius: 5px;
	background: #009688;
}
.cp_hmenuac05 .cp_bar {
	position: relative;
	margin: 5px 0;
}
.cp_hmenuac05 .cp_bar:before,
.cp_hmenuac05 .cp_bar:after {
	position: absolute;
}
.cp_hmenuac05 .cp_bar:before {
	top: 11px;
}
.cp_hmenuac05 .cp_bar:after {
	bottom: 11px;
}
.cp_hmenuac05:hover .cp_bar,
.cp_hmenuac05:hover .cp_bar:before,
.cp_hmenuac05:hover .cp_bar:after {
	-webkit-animation: hmenuac 0.3s cubic-bezier(0, 0, 0.2, 1) 1;
	        animation: hmenuac 0.3s cubic-bezier(0, 0, 0.2, 1) 1;
}
.cp_hmenuac05:hover .cp_bar:before {
	-webkit-animation-delay: 0.1s;
	        animation-delay: 0.1s;
}
.cp_hmenuac05:hover .cp_bar:after {
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}
@-webkit-keyframes hmenuac {
	60% {
		-webkit-transform: scaleX(1.4);
		        transform: scaleX(1.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}
@keyframes hmenuac {
	60% {
		-webkit-transform: scaleX(1.4);
		        transform: scaleX(1.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}
